Repository atopile/atopile, pull requests merged in 2024-12, with the labels that each got.

#597 Library: Fix: RP2040 xtal and test_en connections in pinmap
  src/faebryk/library/RP2040.py
Labels: bug

#691 Add basic add_group function from faebryk pr #91
  src/faebryk/exporters/pcb/kicad/transformer.py
Labels: enhancement

#702 Log regression testing history
  .github/workflows/regression.yml
  pyproject.toml
  uv.lock
Labels: regression-required

#704 Update uv.lock with -U
  pyproject.toml
  uv.lock
Labels: regression-required

#710 Deps: Remove networkx, igraph; Remove routing
  examples/layout/ato/pcb.kicad_pcb
  examples/layout/fab/pcb.kicad_pcb
  pyproject.toml
  src/faebryk/exporters/pcb/routing/README.md
  src/faebryk/exporters/pcb/routing/grid.py
  src/faebryk/exporters/pcb/routing/routing.py
  uv.lock
Labels: regression-required

#711 Make ato build again - Part 3 the Last Crusade
  src/atopile/_shim.py
  src/atopile/buildutil.py
  src/atopile/cli/build.py
  src/atopile/front_end.py
  src/faebryk/exporters/pcb/kicad/pcb.py
  src/faebryk/libs/app/pcb.py
  src/faebryk/libs/exceptions.py
  src/faebryk/libs/kicad/fileformats.py
  src/faebryk/libs/kicad/fileformats_version.py
  src/faebryk/libs/sexp/dataclass_sexp.py
  src/vscode-atopile/bundled/tool/lsp_server.py
  test/libs/picker/components.py
  test/libs/test_exceptions.py
Labels: regression-required

#717 Add inductors to shims, and use L.Module as base component for all `ato` components and modules
  src/atopile/_shim.py
  src/atopile/front_end.py
  test/front_end/test_front_end.py
Labels: regression-required

#720 Core: Add Min/Max Expressions
  src/atopile/front_end.py
  src/faebryk/core/parameter.py
  src/faebryk/core/solver/analytical.py
  src/faebryk/core/solver/canonical.py
  src/faebryk/core/solver/literal_folding.py
  src/faebryk/core/solver/utils.py
  test/core/solver/test_solver.py
Labels: regression-required

#719 Make `ato` build again - Part V: The Emprire Strikes Back
  src/atopile/_shim.py
  src/atopile/front_end.py
Labels: regression-required

#722 Make `ato` build again - Part 6: the Half-Blood Prince
  src/atopile/buildutil.py
  src/atopile/errors.py
  src/atopile/front_end.py
  src/atopile/parser/AtoParser.g4
  src/atopile/parser/AtoParser.interp
  src/atopile/parser/AtoParser.py
  src/atopile/parser/AtoParserVisitor.py
  src/faebryk/libs/util.py
  test/front_end/test_front_end.py
  test/front_end/test_literals.py
Labels: regression-required

#725 Make `ato` build again - Part 7: Diamonds Are Forever
  src/atopile/front_end.py
  src/faebryk/libs/exceptions.py
  test/libs/test_exceptions.py
Labels: regression-required

#734 Make `ato` build again: Part 8 - The Dark World
  examples/.ato/modules/generics/capacitors.ato
  examples/.ato/modules/generics/resistors.ato
  src/atopile/_shim.py
  src/atopile/front_end.py
  src/faebryk/core/module.py
  src/faebryk/libs/exceptions.py
  test/libs/test_exceptions.py
Labels: regression-required

#735 Improve errors for missing global footprint lib
  src/atopile/buildutil.py
  src/faebryk/exporters/pcb/kicad/pcb.py
Labels: regression-required

#741 Make `ato` build again: Part 9 - The Emperor's New Clothes
  src/atopile/_shim.py
  src/atopile/buildutil.py
  src/atopile/cli/build.py
  src/atopile/datatypes.py
  src/atopile/errors.py
  src/atopile/front_end.py
  src/faebryk/core/solver/utils.py
  src/faebryk/libs/exceptions.py
  src/faebryk/libs/picker/api/models.py
  src/faebryk/libs/picker/api/picker_lib.py
  src/faebryk/libs/picker/lcsc.py
  src/faebryk/libs/picker/picker.py
  src/faebryk/libs/util.py
  test/libs/test_exceptions.py
  test/test_datatypes.py
  test/test_regressions.py
Labels: regression-required

#759 Save failed regression artifacts
  .github/workflows/regression.yml
  pyproject.toml
  test/test_regressions.py
  uv.lock
Labels: regression-required
