Repository atopile/atopile, pull requests merged in 2025-04, with the labels that each got.

#1150 Add: Github: Auto PR labeler
  .github/labeler.yml
  .github/release.yml
  .github/workflows/labeler.yml
Labels: enhancement

#1160 Aesthetic semver: Optionally strip leading "v"
  src/atopile/cli/package.py
Labels: cli

#1169 Add: deprecation message/error for ato-version
  src/atopile/config.py
Labels: enhancement, ato

#1168 Add module name to PickError
  src/faebryk/libs/picker/api/picker_lib.py
Labels: bug

#1170 Fix: CLI: ato remove/list
  src/atopile/cli/install.py
  src/faebryk/libs/project/dependencies.py
  src/faebryk/libs/util.py
Labels: bug, cli

#1172 Libs: Checks: Add requires external usage
  src/atopile/attributes.py
  src/atopile/buildutil.py
  src/faebryk/library/_F.py
  src/faebryk/library/requires_external_usage.py
  src/faebryk/libs/app/checks.py
  test/front_end/test_front_end.py
  test/libs/test_checks.py
Labels: enhancement, library, ato, tests

#1174 Libs: Checks: Disable external check if root module
  src/faebryk/libs/app/checks.py
  test/libs/test_checks.py
Labels: enhancement, tests

#1166 Platform: Windows specific fixes
  pyproject.toml
  scripts/attach_license.py
  scripts/clean_issues.py
  src/atopile/cli/configure.py
  src/atopile/cli/create.py
  src/atopile/cli/logging.py
  src/atopile/kicad_plugin/common.py
  src/atopile/telemetry.py
  src/faebryk/core/cpp/__init__.py
  src/faebryk/core/cpp/src/main.cpp
  src/faebryk/exporters/bom/jlcpcb.py
  src/faebryk/exporters/parameters/parameters_to_file.py
  src/faebryk/exporters/pcb/kicad/artifacts.py
  src/faebryk/exporters/pcb/pick_and_place/jlcpcb.py
  src/faebryk/exporters/pcb/testpoints/testpoints.py
  src/faebryk/libs/kicad/fileformats_version.py
  src/faebryk/libs/paths.py
  src/faebryk/libs/picker/lcsc.py
  src/faebryk/libs/pycodegen.py
  src/faebryk/libs/sexp/dataclass_sexp.py
  src/faebryk/libs/util.py
  src/faebryk/tools/refactor.py
  test/end_to_end/conftest.py
  test/front_end/test_front_end.py
  test/integration/netlist/kicad2faebryk/test_netlist_kicad_2_faebryk_prj.py
  test/library/test_names.py
  test/libs/test_util_importers.py
  test/test_config.py
  test/test_examples.py
  test/test_packages.py
  test/test_parse_utils.py
  tools/library/gen_F.py
  uv.lock
Labels: enhancement, picker, cli, ato, tests, kicad

#1175 Libs: Checks: Add DRC checks
  pyproject.toml
  src/atopile/buildutil.py
  src/faebryk/libs/app/checks.py
  src/faebryk/libs/kicad/drc.py
  src/faebryk/libs/kicad/fileformats_latest.py
  src/faebryk/libs/util.py
  test/libs/util/test_md_list.py
  uv.lock
Labels: enhancement, ato, tests

#1176 Ato: Better error for attempted non-mif connection
  src/atopile/front_end.py
Labels: bug, ato

#1173 Libs: Checks: Require I2C pull-ups
  src/atopile/buildutil.py
  src/faebryk/core/trait.py
  src/faebryk/library/ElectricSignal.py
  src/faebryk/library/Electrical.py
  src/faebryk/library/I2C.py
  src/faebryk/library/Net.py
  src/faebryk/library/_F.py
  src/faebryk/library/implements_design_check.py
  src/faebryk/library/requires_pulls.py
  src/faebryk/libs/app/checks.py
  src/faebryk/libs/app/erc.py
  src/faebryk/libs/exceptions.py
  src/faebryk/libs/util.py
  test/library/test_design_checks.py
Labels: enhancement, library, ato, tests

#1177 Fix: Emoji in question prompt for KiCAD plugin installation
  src/atopile/cli/configure.py
Labels: cli

#1153 Update template branch
  src/atopile/cli/create.py
Labels: cli

#937 Ato: Use field references with key support
  .gitattributes
  src/atopile/attributes.py
  src/atopile/cli/build.py
  src/atopile/datatypes.py
  src/atopile/errors.py
  src/atopile/front_end.py
  src/atopile/parser/AtoParser.g4
  src/atopile/parser/AtoParser.interp
  src/atopile/parser/AtoParser.py
  src/atopile/parser/AtoParserVisitor.py
  src/vscode-atopile/bundled/tool/lsp_server.py
  test/front_end/test_front_end.py
  test/front_end/test_front_end_e2e.py
  test/front_end/test_front_end_pick.py
  test/library/test_instance_library_modules.py
  test/test_datatypes.py
  test/test_regressions.py
Labels: enhancement, regression-required, cli, ato, tests

#1178 Fix: Tests: Build regressions
  test/test_regressions.py
Labels: regression-required

#1183 Disable required check for top level modules
  src/faebryk/library/requires_external_usage.py
Labels: bug, library

#1140 Library: I2C Addressing & Bus viewer
  examples/ch1_3_i2c.ato
  src/atopile/buildutil.py
  src/faebryk/core/parameter.py
  src/faebryk/core/solver/defaultsolver.py
  src/faebryk/core/solver/mutator.py
  src/faebryk/core/solver/symbolic/canonical.py
  src/faebryk/core/solver/symbolic/pure_literal.py
  src/faebryk/core/solver/symbolic/structural.py
  src/faebryk/exporters/documentation/i2c.py
  src/faebryk/library/Addressor.py
  src/faebryk/library/Addressor3.py
  src/faebryk/library/ElectricSignal.py
  src/faebryk/library/Electrical.py
  src/faebryk/library/I2C.py
  src/faebryk/library/_F.py
  src/faebryk/library/implements_design_check.py
  src/faebryk/library/requires_pulls.py
  src/faebryk/libs/app/checks.py
  src/faebryk/libs/sets/quantity_sets.py
  src/faebryk/libs/util.py
  test/library/nodes/test_addressor.py
Labels: library, ato, tests

#1187 Fix `ato create component` for pins which are named as numbers
  src/atopile/cli/create.py
Labels: bug, cli

#1186 Libs: Checks: Allow exclude
  src/atopile/buildutil.py
  src/atopile/config.py
  src/faebryk/core/trait.py
  src/faebryk/library/I2C.py
  src/faebryk/library/PCB.py
  src/faebryk/library/_F.py
  src/faebryk/library/has_solver.py
  src/faebryk/library/implements_design_check.py
  src/faebryk/library/requires_external_usage.py
  src/faebryk/library/requires_pulls.py
  src/faebryk/libs/app/checks.py
  src/faebryk/libs/app/erc.py
  test/library/nodes/test_addressor.py
  test/library/test_design_checks.py
  test/libs/test_checks.py
Labels: enhancement, library, ato, tests

#1185 Fix: Checks: Required: Reorder
  src/faebryk/library/requires_external_usage.py
Labels: bug, library

#1188 Fix frozen file comparison
  src/atopile/buildutil.py
Labels: bug, ato

#1179 Buildutil: Enable `hide_designators` option
  src/atopile/buildutil.py
  src/atopile/config.py
Labels: enhancement, ato

#1192 Update README.md
  README.md
Labels: documentation

#1200 ato: List initialisation
  src/atopile/front_end.py
  src/atopile/parser/AtoParser.g4
  src/atopile/parser/AtoParser.interp
  src/atopile/parser/AtoParser.py
  src/atopile/parser/AtoParserVisitor.py
  test/front_end/test_front_end.py
Labels: enhancement, ato, tests

#1201 ato: pragma & experiment support
  src/atopile/errors.py
  src/atopile/front_end.py
  src/atopile/parser/AtoLexer.g4
  src/atopile/parser/AtoLexer.interp
  src/atopile/parser/AtoLexer.py
  src/atopile/parser/AtoLexer.tokens
  src/atopile/parser/AtoParser.g4
  src/atopile/parser/AtoParser.interp
  src/atopile/parser/AtoParser.py
  src/atopile/parser/AtoParser.tokens
  src/atopile/parser/AtoParserVisitor.py
  src/atopile/parser/README.md
  src/atopile/parser/build.sh
  test/front_end/test_front_end.py
Labels: documentation, enhancement, ato, tests

#1199 Use I2CPullup in i2c example
  examples/ch1_3_i2c.ato
  src/faebryk/library/resistors.ato
Labels: bug, library

#1203 ato: Experimental: for loop
  src/atopile/datatypes.py
  src/atopile/front_end.py
  src/atopile/parser/AtoLexer.g4
  src/atopile/parser/AtoLexer.interp
  src/atopile/parser/AtoLexer.py
  src/atopile/parser/AtoLexer.tokens
  src/atopile/parser/AtoParser.g4
  src/atopile/parser/AtoParser.interp
  src/atopile/parser/AtoParser.py
  src/atopile/parser/AtoParser.tokens
  src/atopile/parser/AtoParserVisitor.py
  src/faebryk/libs/util.py
  test/front_end/test_front_end.py
  test/front_end/test_front_end_pick.py
  test/libs/test_util.py
Labels: enhancement, ato, tests

#1202 ato: Experimental: Bridged connections
  src/atopile/front_end.py
  src/atopile/parse_utils.py
  src/atopile/parser/AtoLexer.g4
  src/atopile/parser/AtoLexer.interp
  src/atopile/parser/AtoLexer.py
  src/atopile/parser/AtoLexer.tokens
  src/atopile/parser/AtoParser.g4
  src/atopile/parser/AtoParser.interp
  src/atopile/parser/AtoParser.py
  src/atopile/parser/AtoParser.tokens
  src/atopile/parser/AtoParserVisitor.py
  test/front_end/test_front_end.py
Labels: enhancement, ato, tests

#1206 ato: Fix lexing, number parsing and add slices
  src/atopile/front_end.py
  src/atopile/parse_utils.py
  src/atopile/parser/AtoLexer.g4
  src/atopile/parser/AtoLexer.interp
  src/atopile/parser/AtoLexer.py
  src/atopile/parser/AtoLexer.tokens
  src/atopile/parser/AtoParser.g4
  src/atopile/parser/AtoParser.interp
  src/atopile/parser/AtoParser.py
  src/atopile/parser/AtoParser.tokens
  src/atopile/parser/AtoParserVisitor.py
  test/front_end/test_front_end.py
Labels: enhancement, ato, tests

#1205 Remove out-dated packages from regression checks
  test/test_regressions.py
Labels: tests
