Repository atopile/atopile, pull requests merged in 2025-06, with the labels that each got.

#1283 Fix: Parts: Multiple model issues
  src/faebryk/libs/kicad/fileformats_latest.py
  src/faebryk/libs/picker/lcsc.py
Labels: bug, picker

#1287 Fix: Prioritize cursor over code
  src/faebryk/libs/util.py
Labels: bug

#1292 Fix: Windows kicad plugin
  src/atopile/kicad_plugin/common.py
  src/atopile/kicad_plugin/reloadgroup.py
  src/faebryk/libs/util.py
Labels: bug

#1285 CI: Disable dependabot
  .github/dependabot.yml
Labels: enhancement, ci

#1284 Fix: CLI part create table titles
  src/atopile/cli/create.py
Labels: bug, cli

#1282 Logging: Use archive folder
  src/atopile/cli/logging_.py
Labels: enhancement, cli

#1293 Template: Move project-template into main repo & Add cursor-rules
  src/atopile/cli/create.py
  src/atopile/project-template/.gitignore
  src/atopile/project-template/README.md
  src/atopile/project-template/cookiecutter.json
  src/atopile/project-template/hooks/post_gen_project.py
  src/atopile/project-template/hooks/pre_gen_project.py
  src/atopile/project-template/{{cookiecutter.project_slug}}/.cursor/rules/ato.mdc
  src/atopile/project-template/{{cookiecutter.project_slug}}/.github/workflows/build.yml
  src/atopile/project-template/{{cookiecutter.project_slug}}/.github/workflows/publish.yml
  src/atopile/project-template/{{cookiecutter.project_slug}}/.gitignore
  src/atopile/project-template/{{cookiecutter.project_slug}}/.windsurf/rules/ato.md
  src/atopile/project-template/{{cookiecutter.project_slug}}/LICENSE.txt
  src/atopile/project-template/{{cookiecutter.project_slug}}/README.md
  src/atopile/project-template/{{cookiecutter.project_slug}}/ato.yaml
  src/atopile/project-template/{{cookiecutter.project_slug}}/main.ato
  test/test_cli.py
Labels: documentation, enhancement, cli, tests, ci

#1297 CI: Upgrade dependencies
  .pre-commit-config.yaml
  pyproject.toml
  src/faebryk/core/cpp/__init__.pyi
  src/faebryk/core/module.py
  src/faebryk/core/pathfinder.py
  src/faebryk/core/solver/mutator.py
  src/faebryk/exporters/netlist/kicad/netlist_kicad.py
  src/faebryk/exporters/pcb/kicad/transformer.py
  src/faebryk/exporters/pcb/layout/typehierarchy.py
  src/faebryk/library/DE9Connector.py
  src/faebryk/library/HLK_LD2410B_P.py
  src/faebryk/library/Header.py
  src/faebryk/library/NetTie.py
  src/faebryk/library/can_attach_via_pinmap_pinlist.py
  src/faebryk/library/has_pcb_routing_strategy_greedy_direct_line.py
  src/faebryk/library/has_pcb_routing_strategy_via_to_layer.py
  src/faebryk/library/has_simple_value_representation_based_on_params_chain.py
  src/faebryk/libs/app/designators.py
  src/faebryk/libs/header.py
  src/faebryk/libs/kicad/fileformats_latest.py
  src/faebryk/libs/sets/numeric_sets.py
  src/faebryk/libs/util.py
  test/core/performance/test_performance_graph.py
  uv.lock
Labels: enhancement, library, tests, kicad

#1300 VSCE: alias ato in all terminals
  src/vscode-atopile/src/common/findbin.ts
  src/vscode-atopile/src/ui/buttons.ts
Labels: enhancement

#1299 Fix: Parts: Don't show megadiffs
  src/faebryk/libs/part_lifecycle.py
Labels: bug

#1302 CLI: Print part import path
  src/atopile/cli/create.py
  src/faebryk/libs/ato_part.py
  src/faebryk/libs/logging.py
Labels: enhancement, cli

#1304 Fix: Run solver for frozen
  src/atopile/buildutil.py
Labels: bug, ato

#1306 Fix: Git hash error
  src/atopile/telemetry.py
Labels: bug, ato

#1307 VSCE: Add telemetry
  pyproject.toml
  src/atopile/cli/build.py
  src/atopile/cli/cli.py
  src/atopile/cli/configure.py
  src/atopile/cli/create.py
  src/atopile/cli/excepthook.py
  src/atopile/cli/install.py
  src/atopile/cli/lsp.py
  src/atopile/cli/package.py
  src/atopile/telemetry.py
  src/vscode-atopile/package-lock.json
  src/vscode-atopile/package.json
  src/vscode-atopile/src/common/kicad.ts
  src/vscode-atopile/src/common/settings.ts
  src/vscode-atopile/src/common/telemetry.ts
  src/vscode-atopile/src/extension.ts
  src/vscode-atopile/src/git.d.ts
  src/vscode-atopile/src/ui/buttons.ts
  src/vscode-atopile/src/ui/example.ts
  src/vscode-atopile/src/ui/setup.ts
  test/test_telemetry.py
  uv.lock
Labels: enhancement, cli, ato, tests, kicad

#1308 VSCE: kicanvas viewer
  src/vscode-atopile/package.json
  src/vscode-atopile/resources/atopile-icon.svg
  src/vscode-atopile/resources/kicanvas/kicanvas.js
  src/vscode-atopile/resources/pcb-icon-transparent.svg
  src/vscode-atopile/src/common/manifest.ts
  src/vscode-atopile/src/common/pcb.ts
  src/vscode-atopile/src/common/resources.ts
  src/vscode-atopile/src/common/target.ts
  src/vscode-atopile/src/common/utilities.ts
  src/vscode-atopile/src/extension.ts
  src/vscode-atopile/src/ui/buttons.ts
  src/vscode-atopile/src/ui/kicanvas.ts
  src/vscode-atopile/src/ui/projectview.ts
  src/vscode-atopile/src/ui/ui.ts
Labels: enhancement

#1316 VSCE: Add 3D model viewer
  pyproject.toml
  src/faebryk/exporters/pcb/kicad/artifacts.py
  src/vscode-atopile/package.json
  src/vscode-atopile/resources/cube-icon.svg
  src/vscode-atopile/resources/model-viewer/model-viewer.min.js
  src/vscode-atopile/src/common/3dmodel.ts
  src/vscode-atopile/src/common/file-resource-watcher.ts
  src/vscode-atopile/src/common/manifest.ts
  src/vscode-atopile/src/common/pcb.ts
  src/vscode-atopile/src/ui/buttons.ts
  src/vscode-atopile/src/ui/html-builder.ts
  src/vscode-atopile/src/ui/kicanvas.ts
  src/vscode-atopile/src/ui/modelviewer.ts
  src/vscode-atopile/src/ui/packagexplorer.ts
  src/vscode-atopile/src/ui/ui.ts
  src/vscode-atopile/src/ui/webview-base.ts
  uv.lock
Labels: enhancement

#1319 Fix: Core: Deterministic Node children
  pyproject.toml
  src/faebryk/core/node.py
  test/libs/test_util.py
  uv.lock
Labels: bug, tests

#1320 Fix: AtoParser: Handle commas in trait strings
  src/faebryk/libs/codegen/atocodeparse.py
Labels: bug

#1321 Fix: PCB: Don't assume part for picked
  src/faebryk/libs/app/picking.py
Labels: bug

#1322 Fix: Stable file hashing
  src/faebryk/library/is_auto_generated.py
  src/faebryk/libs/ato_part.py
  src/faebryk/libs/checksum.py
  src/faebryk/libs/kicad/fileformats_common.py
Labels: bug, library
