Repository atopile/atopile, pull requests merged in 2025-01, with the labels that each got.

#784 fix: standardize quantity operator precedence
  src/faebryk/libs/sets/quantity_sets.py
Labels: regression-required

#789 Fix footprint 3D file path
  src/atopile/cli/build.py
  src/faebryk/libs/picker/lcsc.py
Labels: bug

#788 Bugfix: faebryk: Library: Set weak owner
  src/faebryk/library/CH342F.py
  src/faebryk/library/CH344.py
  src/faebryk/library/CH344Q_ReferenceDesign.py
  src/faebryk/library/EnablePin.py
  src/faebryk/library/WCHJiangsu_Qin_Heng_CH224K.py
  src/faebryk/library/WCHJiangsu_Qin_Heng_CH224K_ReferenceDesign.py
Labels: bug

#833 Bugfix: Library: EnablePin: Return resistor when using set_weak
  src/faebryk/library/EnablePin.py
Labels: bug

#813 Fix: default fp-lib-table path
  src/atopile/config.py
  src/faebryk/libs/picker/lcsc.py
Labels: bug

#852 Remove cleanup from PCB transformer and buildutil
  src/atopile/buildutil.py
  src/faebryk/exporters/pcb/kicad/transformer.py
Labels: regression-required

#856 Feature: Add formatting of user visible json files
  src/atopile/buildutil.py
  src/atopile/cli/cli.py
  src/atopile/layout.py
Labels: enhancement

#878 Meta: Add missing dev dependency versions
  pyproject.toml
  uv.lock
Labels: bug
