Repository atopile/atopile, pull requests merged in 2025-07, with the labels that each got.

#1330 Library: Add PDM interface
  src/faebryk/library/PDM.py
  src/faebryk/library/_F.py
Labels: enhancement, library

#1332 VSCE: MCP
  .cursor/rules/ato.mdc
  .github/instructions/ato.instructions.md
  .gitignore
  .windsurf/rules/ato.md
  pyproject.toml
  src/atopile/cli/build.py
  src/atopile/cli/cli.py
  src/atopile/cli/logging_.py
  src/atopile/cli/mcp.py
  src/atopile/mcp/mcp_server.py
  src/atopile/project-template/{{cookiecutter.project_slug}}/.cursor/rules/ato.mdc
  src/atopile/project-template/{{cookiecutter.project_slug}}/.windsurf/rules/ato.md
  src/faebryk/library/Electrical.py
  src/faebryk/libs/util.py
  src/vscode-atopile/package.json
  src/vscode-atopile/resources/templates/rules/ato.md
  src/vscode-atopile/resources/templates/rules/common.ato
  src/vscode-atopile/resources/templates/rules/grammar.g4
  src/vscode-atopile/resources/templates/rules/negative.md
  src/vscode-atopile/resources/templates/rules/syntax.ato
  src/vscode-atopile/src/common/llm.ts
  src/vscode-atopile/src/common/resources.ts
  src/vscode-atopile/src/common/utilities.ts
  src/vscode-atopile/src/common/vscodeapi.ts
  src/vscode-atopile/src/extension.ts
  src/vscode-atopile/src/ui/kicanvas.ts
  src/vscode-atopile/src/ui/modelviewer.ts
  uv.lock
Labels: documentation, enhancement, library, cli, ci

#1337 MCP: Packages
  src/atopile/cli/create.py
  src/atopile/cli/install.py
  src/atopile/cli/mcp.py
  src/atopile/config.py
  src/atopile/errors.py
  src/atopile/mcp/mcp_server.py
  src/atopile/mcp/tools/__init__.py
  src/atopile/mcp/tools/cli.py
  src/atopile/mcp/tools/library.py
  src/atopile/mcp/tools/packages.py
  src/atopile/mcp/tools/project.py
  src/atopile/mcp/util.py
  src/faebryk/libs/ato_part.py
  src/faebryk/libs/backend/packages/api.py
  src/faebryk/libs/picker/lcsc.py
  src/faebryk/libs/project/dependencies.py
Labels: enhancement, picker, cli, ato

#1340 Fileformat: Less verbose rich
  src/faebryk/libs/kicad/fileformats_latest.py
Labels: enhancement

#1310 Fix: Syntax: Don't use unicode
  src/vscode-atopile/syntaxes/ato.tmLanguage.json
Labels: bug

#1339 Fix: 3Dmodels in packages
  src/faebryk/libs/part_lifecycle.py
  src/faebryk/libs/util.py
  test/libs/test_util.py
Labels: bug, tests

#1343 Fix: Net names determinism
  src/faebryk/exporters/netlist/graph.py
  test/end_to_end/test_pcb_export.py
Labels: bug, tests

#1347 Fix: Error: LibNotFound
  src/faebryk/libs/part_lifecycle.py
Labels: bug

#1353 VSCE: add package and vibe coding instructions to .cursor rules
  src/vscode-atopile/resources/templates/rules/create_package.md
  src/vscode-atopile/resources/templates/rules/vibe_electronics.md
  src/vscode-atopile/src/common/llm.ts
Labels: documentation, enhancement

#1356 MCP: Fix exceptions missing from build tool captured logs
  src/atopile/cli/logging_.py
  src/atopile/front_end.py
  src/atopile/mcp/tools/cli.py
  src/faebryk/libs/ato_part.py
Labels: bug, cli, ato

#1357 Fix: LLM: LSP & Doc fixes
  .cursor/rules/ato.mdc
  .github/instructions/ato.instructions.md
  .windsurf/rules/ato.md
  src/atopile/datatypes.py
  src/atopile/front_end.py
  src/atopile/lsp/lsp_server.py
  src/faebryk/library/ElectricLogic.py
  src/faebryk/library/ElectricSignal.py
  src/faebryk/library/i2c_pulls_weak.ato
  src/vscode-atopile/src/common/vscodeapi.ts
  test/libs/codegen/test_atocodegen.py
Labels: bug, documentation, library, ato, tests, ci

#1362 Fix: Windows: PosixPath in path create
  src/faebryk/libs/ato_part.py
Labels: bug

#1368 Exporter: Parameters: Include root module parameters in export
  src/faebryk/exporters/parameters/parameters_to_file.py
Labels: enhancement

#1372 Fix: KiPlugin: Sync path failure
  src/atopile/kicad_plugin/common.py
Labels: bug

#1361 Library: Update Adjustable Regulator
  src/faebryk/library/regulators.ato
Labels: bug, library

#1377 Setup: Move cfg dir & Auto-setup
  src/atopile/cli/cli.py
  src/atopile/cli/configure.py
  src/atopile/config.py
  src/faebryk/libs/paths.py
Labels: enhancement, cli, ato

#1378 Feature/add can interface
  src/faebryk/library/CAN.py
  src/faebryk/library/CAN_TTL.py
  src/faebryk/library/_F.py
Labels: enhancement, library

#1385 Fix: create project
  src/vscode-atopile/src/ui/buttons.ts
Labels: bug

#1380 KiPlugin: Remove extra buttons
  src/atopile/kicad_plugin/__init__.py
  src/atopile/kicad_plugin/pullgroup.py
  src/atopile/kicad_plugin/pushgroup.py
  src/atopile/kicad_plugin/reload.png
  src/atopile/kicad_plugin/reloadgroup.py
  src/atopile/kicad_plugin/upload.png
Labels: enhancement

#1384 Fix: VSCE path
  src/vscode-atopile/src/common/telemetry.ts
Labels: bug

#1382 Library: Make TestPoints minimal
  src/faebryk/library/Mounting_Hole.py
  src/faebryk/library/NetTie.py
  src/faebryk/library/TestPoint.py
  src/faebryk/library/_F.py
  test/exporters/bom/test_bom.py
Labels: enhancement, library, tests

#1392 Meta: Ignore CLAUDE & .mcp
  .gitignore
Labels: enhancement

#1391 Examples: Cleanup
  examples/.gitignore
  examples/ato.yaml
  examples/ch1_1_ato.ato
  examples/ch1_1_bad_voltage_divider.ato
  examples/ch3_0_simple_led/main.ato
  examples/equations/ato.yaml
  examples/equations/equations.ato
  examples/i2c/ato.yaml
  examples/i2c/i2c.ato
  examples/pick_parts/ato.yaml
  examples/pick_parts/pick_parts.ato
  examples/quickstart/ato.yaml
  examples/quickstart/quickstart.ato
Labels: enhancement

#1383 Build: Auto-reload PCB in KiCAD
  examples/layout_reuse/.gitignore
  examples/layout_reuse/ato.yaml
  examples/layout_reuse/layout/sub/sub.kicad_pcb
  examples/layout_reuse/layout_reuse.ato
  pyproject.toml
  src/atopile/buildutil.py
  src/atopile/cli/build.py
  src/atopile/cli/configure.py
  src/atopile/kicad_plugin/pullgroup.py
  src/faebryk/libs/app/pcb.py
  src/faebryk/libs/kicad/fileformat_config.py
  src/faebryk/libs/kicad/ipc.py
  src/faebryk/libs/kicad/paths.py
  src/faebryk/libs/part_lifecycle.py
  src/faebryk/libs/util.py
  uv.lock
Labels: enhancement, cli, ato, kicad

#1402 Feature: Bridge and Hardcode RC Filter
  src/faebryk/library/FilterElectricalRC.py
  src/faebryk/library/_F.py
Labels: enhancement, library

#1405 Fix: Remove unused harcode fc
  src/faebryk/library/FilterElectricalRC.py
Labels: enhancement, library

#1406 Libs: Temporarily disable SSL cert verification
  src/faebryk/libs/backend/packages/api.py
  src/faebryk/libs/picker/api/api.py
  src/faebryk/libs/picker/lcsc.py
Labels: enhancement, picker

#1408 Libs: Hide SSL verification warnings
  src/atopile/cli/logging_.py
  src/atopile/config.py
  src/faebryk/libs/backend/packages/api.py
  src/faebryk/libs/picker/api/api.py
  src/faebryk/libs/picker/lcsc.py
Labels: bug, picker, cli, ato
