Repository atopile/atopile, pull requests merged in 2025-05, with the labels that each got.

#1210 Fix: Run solver even if only explicit picks
  examples/ch2_1_fab.py
  src/faebryk/libs/picker/picker.py
Labels: bug, picker

#1208 ato: reversed directed connect (L SPERM)
  src/atopile/front_end.py
  src/atopile/parser/AtoLexer.g4
  src/atopile/parser/AtoLexer.interp
  src/atopile/parser/AtoLexer.py
  src/atopile/parser/AtoLexer.tokens
  src/atopile/parser/AtoParser.g4
  src/atopile/parser/AtoParser.interp
  src/atopile/parser/AtoParser.py
  src/atopile/parser/AtoParser.tokens
  src/atopile/parser/AtoParserVisitor.py
  test/front_end/test_front_end.py
Labels: enhancement, ato, tests

#1211 ato: Experimental: list literals
  src/atopile/front_end.py
  src/atopile/parser/AtoParser.g4
  src/atopile/parser/AtoParser.interp
  src/atopile/parser/AtoParser.py
  src/atopile/parser/AtoParserVisitor.py
  src/atopile/parser/tree.sh
  test/front_end/test_front_end.py
Labels: enhancement, ato, tests

#1209 ato: Experimental: Trait parameter templating and alternate constructors
  src/atopile/front_end.py
  src/atopile/parser/AtoParser.g4
  src/atopile/parser/AtoParser.interp
  src/atopile/parser/AtoParser.py
  src/atopile/parser/AtoParserVisitor.py
  src/faebryk/library/has_explicit_part.py
  test/front_end/test_front_end.py
Labels: enhancement, library, ato, tests

#1217 ato: Experiment: Module templating
  src/atopile/front_end.py
  src/atopile/parser/AtoParser.g4
  src/atopile/parser/AtoParser.interp
  src/atopile/parser/AtoParser.py
  src/atopile/parser/AtoParserVisitor.py
  test/front_end/test_front_end.py
Labels: enhancement, ato, tests

#1218 Auto sync docs
  .github/workflows/docs-sync.yml
  tools/docs-sync.js
Labels: ci

#1216 Fix: Don't shim floating powers in cap
  src/atopile/attributes.py
  src/faebryk/library/Capacitor.py
Labels: bug, library, ato

#1221 Docs sync fix
  .github/workflows/docs-sync.yml
Labels: ci

#1219 ato: Consistent error messages for experiments
  src/atopile/errors.py
  src/atopile/front_end.py
Labels: bug, enhancement, ato

#1225 Touch up adjustable regulator
  src/faebryk/library/regulators.ato
Labels: library

#1231 Fix docs pusher 2
  .github/workflows/docs-sync.yml
Labels: bug, ci

#1223 Fix `ato create component` missing signals
  src/atopile/cli/create.py
Labels: bug, cli

#1198 ato: Extend language
  src/atopile/datatypes.py
  src/atopile/errors.py
  src/atopile/front_end.py
  src/atopile/parse_utils.py
  src/atopile/parser/AtoLexer.g4
  src/atopile/parser/AtoLexer.interp
  src/atopile/parser/AtoLexer.py
  src/atopile/parser/AtoLexer.tokens
  src/atopile/parser/AtoParser.g4
  src/atopile/parser/AtoParser.interp
  src/atopile/parser/AtoParser.py
  src/atopile/parser/AtoParser.tokens
  src/atopile/parser/AtoParserVisitor.py
  src/atopile/parser/README.md
  src/atopile/parser/build.sh
  src/atopile/parser/tree.sh
  src/faebryk/exporters/pcb/kicad/transformer.py
  src/faebryk/library/has_explicit_part.py
  src/faebryk/libs/util.py
  test/front_end/test_front_end.py
  test/front_end/test_front_end_pick.py
  test/libs/test_util.py
Labels: documentation, library, ato, tests

#1220 Fix: Auto-recompile C++ & ato
  src/atopile/parser/__init__.py
  src/faebryk/core/cpp/__init__.py
  src/faebryk/libs/util.py
Labels: bug

#1224 CLI: Improve formatting for syntax errors
  src/atopile/parse.py
Labels: bug, ato

#1180 Fix multiple library modules
  src/faebryk/library/Analog_Devices_ADM2587EBRWZ_ReferenceDesign.py
  src/faebryk/library/B0505S_1WR3.py
  src/faebryk/library/B0505S_1WR3_ReferenceDesign.py
  src/faebryk/library/CBM9002A_56ILG_ReferenceDesign.py
  src/faebryk/library/CH344Q.py
  src/faebryk/library/CH344Q_ReferenceDesign.py
  src/faebryk/library/FilterElectricalRC.py
  src/faebryk/library/INA228_ReferenceDesign.py
  src/faebryk/library/Mounting_Hole.py
  src/faebryk/library/RS485_Bus_Protection.py
  src/faebryk/library/ResistorArray.py
  src/faebryk/library/SNx4LVC541A.py
  src/faebryk/library/TECH_PUBLIC_USBLC6_2SC6.py
  src/faebryk/library/Texas_Instruments_SN74LVC541APWR.py
  src/faebryk/library/UART_RS485.py
  src/faebryk/library/USB2_0_ESD_Protection.py
  src/faebryk/library/_F.py
Labels: bug, library

#1229 VSCE: Update grammar for syntax highlighting
  src/atopile/cli/cli.py
  src/vscode-atopile/syntax_examples.ato
  src/vscode-atopile/syntaxes/ato.tmLanguage.json
Labels: enhancement, cli

#1233 LSP: Provide syntax errors
  src/atopile/cli/cli.py
  src/atopile/cli/create.py
  src/atopile/parse.py
  src/lsp/__init__.py
  src/lsp/_debug_server.py
  src/lsp/lsp_jsonrpc.py
  src/lsp/lsp_runner.py
  src/lsp/lsp_server.py
  src/lsp/lsp_utils.py
  src/vscode-atopile/bundled/tool/__init__.py
  src/vscode-atopile/bundled/tool/lsp_runner.py
  src/vscode-atopile/package.json
  src/vscode-atopile/src/common/constants.ts
  src/vscode-atopile/src/common/server.ts
  src/vscode-atopile/src/common/settings.ts
  src/vscode-atopile/src/extension.ts
  src/vscode-atopile/src/ui/ui.ts
  test/front_end/test_front_end_e2e.py
  test/front_end/test_literals.py
  test/test_parse_utils.py
Labels: enhancement, cli, ato, tests

#1235 VSCE: Refactor
  src/atopile/cli/cli.py
  src/atopile/cli/lsp.py
  src/vscode-atopile/package-lock.json
  src/vscode-atopile/package.json
  src/vscode-atopile/src/common/constants.ts
  src/vscode-atopile/src/common/findbin.ts
  src/vscode-atopile/src/common/python.ts
  src/vscode-atopile/src/common/server.ts
  src/vscode-atopile/src/common/settings.ts
  src/vscode-atopile/src/common/setup.ts
  src/vscode-atopile/src/common/utilities.ts
  src/vscode-atopile/src/common/vscodeapi.ts
  src/vscode-atopile/src/extension.ts
Labels: enhancement, cli

#1236 Fix: ato create: Improve git workflow
  src/atopile/cli/create.py
  src/faebryk/libs/github.py
  test/test_cli.py
Labels: bug, cli, tests

#1238 VSCE: Enhanced syntax highlighting
  src/vscode-atopile/syntax_examples.ato
  src/vscode-atopile/syntaxes/ato.tmLanguage.json
Labels: enhancement

#1240 Kicad file format: Fix pad zone connection
  src/faebryk/libs/kicad/fileformats_latest.py
Labels: bug

#1239 VSCE: Autoinstall ato
  examples/ch3_0_simple_led/ato.yaml
  examples/ch3_0_simple_led/main.ato
  src/atopile/cli/create.py
  src/atopile/cli/lsp.py
  src/atopile/cli/package.py
  src/atopile/lsp/__init__.py
  src/atopile/lsp/_debug_server.py
  src/atopile/lsp/lsp_jsonrpc.py
  src/atopile/lsp/lsp_runner.py
  src/atopile/lsp/lsp_server.py
  src/atopile/lsp/lsp_utils.py
  src/atopile/parser/__init__.py
  src/atopile/telemetry.py
  src/faebryk/core/cpp/CMakeLists.txt
  src/faebryk/exporters/pcb/kicad/transformer.py
  src/faebryk/libs/project/dependencies.py
  src/faebryk/libs/util.py
  src/lsp/__init__.py
  src/vscode-atopile/package-lock.json
  src/vscode-atopile/package.json
  src/vscode-atopile/src/common/findbin.ts
  src/vscode-atopile/src/common/github.ts
  src/vscode-atopile/src/common/kicad.ts
  src/vscode-atopile/src/common/manifest.ts
  src/vscode-atopile/src/common/python.ts
  src/vscode-atopile/src/common/server.ts
  src/vscode-atopile/src/extension.ts
  src/vscode-atopile/src/ui/buttons.ts
  src/vscode-atopile/src/ui/example.ts
  src/vscode-atopile/src/ui/setup.ts
  src/vscode-atopile/src/ui/ui.ts
Labels: enhancement, cli, ato, kicad

#1246 Fix: VSCE: Run lsp non-interactive
  src/atopile/config.py
  src/vscode-atopile/package-lock.json
  src/vscode-atopile/package.json
  src/vscode-atopile/src/common/findbin.ts
  src/vscode-atopile/src/common/server.ts
  src/vscode-atopile/src/ui/buttons.ts
  src/vscode-atopile/src/ui/example.ts
  src/vscode-atopile/src/ui/setup.ts
Labels: bug, ato

#1249 Update CODEOWNERS
  .github/CODEOWNERS
Labels: ci

#1252 KiCad file format: Fix dimension type and points
  src/faebryk/libs/kicad/fileformats_latest.py
Labels: bug

#1247 Library: Remove layout trait from crystal oscillator
  src/faebryk/library/Crystal_Oscillator.py
Labels: library

#1254 Fix: I2C check: Isolated buses
  src/faebryk/library/I2C.py
  test/library/nodes/test_addressor.py
Labels: bug, library, tests

#1256 Library: Add bridgable trait to regulator
  src/faebryk/library/Regulator.py
Labels: enhancement, library

#1258 Test: Update test_regressions.py
  test/test_regressions.py
Labels: tests
