Repository atopile/atopile, pull requests merged in 2025-02, with the labels that each got.

#914 CLI: Fix create component fabll
  src/atopile/cli/create.py
Labels: bug

#924 Library: KicadFootprint: Add ValueError for kicad identifier
  src/faebryk/library/KicadFootprint.py
Labels: enhancement

#957 Bugfix: Designator prefix overwrite
  src/faebryk/libs/app/designators.py
  uv.lock
Labels: bug

#959 CLI: Update package registry URL
  src/atopile/cli/install.py
  src/atopile/config.py
Labels: regression-required

#523 faebryk: Core: Better Mifs split path algo
  src/faebryk/core/cpp/include/graph/graph.hpp
  src/faebryk/core/cpp/include/pathfinder/bfs.hpp
  src/faebryk/core/cpp/include/pathfinder/pathfinder.hpp
  src/faebryk/core/cpp/include/util.hpp
  src/faebryk/core/cpp/src/graph/graph.cpp
  src/faebryk/core/cpp/src/graph/graphinterface.cpp
  src/faebryk/core/cpp/src/graph/links.cpp
  src/faebryk/core/cpp/src/graph/path.cpp
  src/faebryk/core/cpp/src/pathfinder/bfs.cpp
  src/faebryk/core/cpp/src/pathfinder/bfs.hpp
  src/faebryk/core/cpp/src/pathfinder/pathfinder.cpp
  src/faebryk/core/pathfinder.py
  src/faebryk/library/ElectricSignal.py
  test/core/test_core.py
  test/core/test_mif_connect.py
  test/core/test_performance.py
Labels: regression-required

#979 Bugfix: faebryk: Library: Add missing descriptive properties
  src/faebryk/library/BH1750FVI_TR.py
  src/faebryk/library/HLK_LD2410B_P.py
  src/faebryk/library/ME6211C33M5G_N.py
  src/faebryk/library/SCD40.py
  src/faebryk/library/TXS0102DCUR.py
  src/faebryk/library/XT30PW2plus2.py
  src/faebryk/library/_F.py
Labels: bug, enhancement

#906 [RFC] local deps
  src/atopile/cli/install.py
  src/atopile/config.py
Labels: run-tests

#1007 Fix example in docs tutorial
  examples/ch1_2_good_voltage_divider.ato
Labels: run-tests

#1013 Faebryk: exporters: PCB: KiCad: Add `hide_all_designators()` method
  src/faebryk/exporters/pcb/kicad/transformer.py
Labels: enhancement, faebryk
