Repository atopile/atopile, pull requests merged in 2025-09, with the labels that each got.

#1480 LSP: Fix 'go to definition' (mvp)
  src/atopile/front_end.py
  src/atopile/lsp/lsp_server.py
  test/test_lsp_completion.py
Labels: bug, ato, tests

#1484 CLI: Fix build generates a bunch of build dirs for dependencies
  src/atopile/config.py
Labels: bug, ato

#1488 Library: Remove unsupported modules, traits, and interfaces
  src/faebryk/library/Common_Mode_Filter.py
  src/faebryk/library/EEPROM.py
  src/faebryk/library/ElectricLogicGate.py
  src/faebryk/library/ElectricLogicGates.py
  src/faebryk/library/Fan.py
  src/faebryk/library/GDT.py
  src/faebryk/library/GenericBusProtection.py
  src/faebryk/library/LEDIndicator.py
  src/faebryk/library/LogicGate.py
  src/faebryk/library/LogicGates.py
  src/faebryk/library/LogicOps.py
  src/faebryk/library/NFET.py
  src/faebryk/library/PFET.py
  src/faebryk/library/Potentiometer.py
  src/faebryk/library/PowerMux.py
  src/faebryk/library/PowerSwitch.py
  src/faebryk/library/PowerSwitchMOSFET.py
  src/faebryk/library/PowerSwitchStatic.py
  src/faebryk/library/RS485HalfDuplex.py
  src/faebryk/library/Relay.py
  src/faebryk/library/Resistor_Voltage_Divider.py
  src/faebryk/library/Sercom.py
  src/faebryk/library/_F.py
  src/faebryk/library/mosfets.ato
  test/core/solver/test_solver.py
  test/test_lsp_completion.py
Labels: library, tests

#1512 VSCE: Fix `stat` on non-existent watched files
  src/vscode-atopile/src/common/file-resource-watcher.ts
Labels: bug
