Repository atopile/atopile, pull requests merged in 2025-03, with the labels that each got.

#925 Library: Add NetTie to library
  src/faebryk/library/NetTie.py
  src/faebryk/library/_F.py
Labels: enhancement

#1011 Library: `ResistorVoltageDivider`: fix `can_bridge` trait
  src/faebryk/library/ResistorVoltageDivider.py
  src/faebryk/library/TPS2116.py
  src/faebryk/library/TPS2116_ReferenceDesign.py
  src/faebryk/library/_F.py
Labels: bug

#1019 Library: USB PSU: Make the module slightly less bad
  examples/ch2_8_mcu.py
  src/faebryk/library/USB_C_PSU_Vertical.py
Labels: bug

#1055 Front end: Add descriptive user error to get param
  src/atopile/front_end.py
Labels: enhancement

#1057 Bug: ERC: power_source short check
  src/faebryk/libs/app/erc.py
  test/library/nodes/test_electricpower.py
Labels: bug

#1092 Library: Add: Add testpoint
  src/faebryk/library/TestPoint.py
  src/faebryk/library/_F.py
Labels: library

#1094 Exporters: PCB: Add testpoint location and information
  src/atopile/buildutil.py
  src/faebryk/exporters/pcb/testpoints/testpoints.py
Labels: faebryk

#1121 Generate all layers
  src/faebryk/exporters/pcb/kicad/artifacts.py
Labels: regression-required
