Repository atopile/atopile, pull requests merged in 2025-08, with the labels that each got.

#1403 Buildutil: More robust PCB comparison
  src/atopile/buildutil.py
  src/atopile/telemetry.py
  src/faebryk/exporters/pcb/kicad/transformer.py
  src/faebryk/libs/sexp/dataclass_sexp.py
  src/faebryk/libs/util.py
  test/libs/kicad/test_sexp.py
Labels: enhancement, ato, tests

#1411 PCB: Automatically apply layout
  src/atopile/buildutil.py
Labels: enhancement, ato

#1416 Fix hanging when searching for KiCad plugins
  src/faebryk/libs/kicad/paths.py
Labels: bug

#1432 ato: Fix NameError on string to enum upgrade
  src/atopile/front_end.py
Labels: bug, ato

#1433 Patch bug introduced breaking templated type-hints in 0.11.2
  src/atopile/front_end.py
Labels: bug, ato

#1428 Github: Add Claude Code GitHub Workflow
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Labels: ci

#1445 Library: Add suggested net names
  src/faebryk/exporters/netlist/graph.py
  src/faebryk/library/Addressor.py
  src/faebryk/library/Battery.py
  src/faebryk/library/CAN.py
  src/faebryk/library/CapacitorElectrolytic.py
  src/faebryk/library/DifferentialPair.py
  src/faebryk/library/Diode.py
  src/faebryk/library/ElectricPower.py
  src/faebryk/library/EnablePin.py
  src/faebryk/library/Ethernet.py
  src/faebryk/library/HDMI.py
  src/faebryk/library/I2C.py
  src/faebryk/library/I2S.py
  src/faebryk/library/JTAG.py
  src/faebryk/library/MOSFET.py
  src/faebryk/library/MultiSPI.py
  src/faebryk/library/PDM.py
  src/faebryk/library/ResistorVoltageDivider.py
  src/faebryk/library/SPI.py
  src/faebryk/library/SWD.py
  src/faebryk/library/UART.py
  src/faebryk/library/UART_Base.py
  src/faebryk/library/USB2_0_IF.py
  src/faebryk/library/USB_C.py
  src/faebryk/library/XtalIF.py
  src/faebryk/library/_F.py
  src/faebryk/library/has_net_name_affix.py
  test/end_to_end/test_net_naming.py
  test/test_cli.py
  test/test_examples.py
Labels: bug, library, tests

#1458 Docs: update readme
  README.md
  assets/tool.jpeg
Labels: documentation, enhancement

#1454 Library: JTAG/SWD: Add better example, add missing interface
  src/faebryk/library/JTAG.py
  src/faebryk/library/SWD.py
Labels: bug, library

#1473 Fix: Downgrade prompt-toolkit
  pyproject.toml
  uv.lock
Labels: bug

#1465 VSCE: Remove annoying popups
  src/vscode-atopile/package.json
  src/vscode-atopile/src/common/findbin.ts
  src/vscode-atopile/src/common/server.ts
  src/vscode-atopile/src/ui/setup.ts
Labels: bug
